@import 'base.css';
@import 'fonts.css';

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 5%; 
}

/* body */
.article {
    position: absolute;
    top: 0;
    width: 100%; 
    padding-bottom: 20%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.content-header {
    width: 100%; 
    margin-top: 128px;
    margin-bottom: 72px; 
    text-align: center;
    font-size: 2em;
}

.content-main-image {
    width: 70%;
    margin-top: 52px;
    margin-bottom: 52px;
}

.content-main-image img {
    width: 100%; 
    border-radius: 16px;
}

.content-body {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap; 
}

.content-text {
    position: relative;
    width: 720px;
}


/* Responsive */

@media screen and (max-width: 1024px) {

    .content-main-image {
        width: 724px;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
    
    .content-main-image img {
        width: 100%; 
        border-radius: 16px;
    }

}

@media screen and (max-width: 720px) {

    .content-header {
        margin-top: 96px;
        margin-bottom: 32px; 
        font-size: 1.5em;
    }
    
    .content-main-image {
        width: 100%;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
    
    .content-main-image img {
        width: 100%; 
        border-radius: 16px;
    }

}

@media screen and (max-width: 650px) {

    .content-text {
        width: 100%; 
        margin: 1.5em;
    }

}